{% extends "theme/theme_admin.html.twig" %}

{% block title %}Espace d'administration / Liste des catégories{% endblock %}

{% block adminContent %}
    <h1 class="text-center my-3 display-5">Liste des catégories</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="d-flex justify-content-end align-items-center my-3">
        <a href="{{ path('admin.category.create') }}" class="btn btn-primary">Nouvelle catégorie</a>
    </div>

{% endblock %}